<!DOCTYPE html>
<html>
  <head>
    <title>Welcome!</title>
  </head>
  <body>
    <h1>Meme Generator</h1>
    <img height="100px" width="150px" src="{{img_src}}"/>
    <h2>Welcome to my meme Generator</h2>

    <form method=POST action="/meme_result">
      Line 1 of meme:<br>
      <input type ="text" name="user-first-ln" value="go">
      Line 2 of meme:<br>
      <input type ="text" name="user-next-ln" value="hello">


      <select name="meme-type">
        <option value="I'm happpppyyy">Happy kid dancing</option>
        <option value="sports">WINNER</option>
        <option value="LOLZ">Lol kinda not into this</option>
      </select><br>
      <input type="submit" value="Go">
      <input type="click" value="zoom">
    </form>


  </body>
</html>
