



body {
    background-color: #3B5998;
    text: white
    left: 0;
    line-height: 50px;
    margin: auto;
    margin-top: 50px;
    margin-left: 100px
    position: absolute;
    top: 25%;
    width: 10%;
}

.fblogo{
  margin: 100px;
  margin-top: 50px;
  margin-left: 50px
  position: absolute;

}
